.answers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  height: 100%;
  border: 1px solid red;
}

.answer {
  width: 40%;
  height: 300px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  &--1 {
    @extend .answer;
    background-color: #509bf5;
    border-radius: 60px 0 0 0;
  }
  &--2 {
    @extend .answer;
    background-color: #af2796;
    border-radius: 0 60px 0 0;
  }
  &--3 {
    @extend .answer;
    background-color: yellow;
    border-radius: 0 0 0 60px;
  }

  &--4 {
    @extend .answer;
    background-color: #19e68c;
    border-radius: 0 0 60px 0;
  }
}

.answer__text {
  background-color: black;
  padding: 5px 10px;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}
