.answers {
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.answer {
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 10px;
  padding: 20px;
  &--1 {
    @extend .answer;
    background-color: #509bf5;
    border-radius: 60px 0 0 0;
  }
  &--2 {
    @extend .answer;
    background-color: #af2796;
    border-radius: 0 60px 0 0;
  }
  &--3 {
    @extend .answer;
    background-color: #243787;
    border-radius: 0 0 0 60px;
  }

  &--4 {
    @extend .answer;
    background-color: #19e68c;
    border-radius: 0 0 60px 0;
  }
  &:hover {
    transform: scale(1.01);
  }
}

.answer__text {
  padding: 5px 10px;
  color: white;
  font-size: 1.2rem;
  text-shadow: 2px 1px 2px black;
}

.answer__artist {
  text-transform: uppercase;
}

.correct-answer {
  color: black;
  padding: 10px 30px;
  font-weight: 600;
  text-transform: capitalize;
  vertical-align: baseline;
}

.corrected-score__container {
  display: flex;
  gap: 10px;
}

.correct {
  background-color: #67bf3a;
}

.wrong {
  background-color: #ff3456;
}

.question-number {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
