.app {
  height: 100%;
  color: white;
  background-color: #040404;
  width: 100%;
}

.header {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}

.main {
  height: calc(100% - 80px);
}

.landing {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
}
