.button {
  text-transform: uppercase;
  padding: 20px 100px;
  border-radius: 500px;
  height: 50px;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 700;
  width: fit-content;
  &:hover {
    transform: scale(1.04);
  }
  &--primary {
    @extend .button;
    color: white;
    background-color: #1db954;
    &:hover {
      background-color: #1ed760;
    }
  }
  &--secondary {
    @extend .button;
    background-color: white;
    color: #1db954;
    &:hover {
      background-color: #def6e6;
    }
  }
}

.button--secondary {
}
